*{box-sizing: border-box;}
html {
    background-color: #725AC1;
    background-image: url("images/rafting20_600.jpg");
}

body{
    font-family: "Roboto", sans-serif;
    font-weight:400;
    background-color:#9BF3F0 ;
}

.logo {
    width: 75px;
    height: auto;
}

img {
vertical-align: middle;
}
img {
border: 0;
}

h1 {
    font-weight: 100;
}
:root {
    --primary-color: #725AC1;
    --secondary-color: #9BF3F0;
    --accent1-color: #1D1128;
    --accent2-color: #D9BBF9;
    --heading-font: "Roboto" sans-serif;
    --paragraph-font: "Nanum-Gothic" sans-serif;
    --nav-background-color: #D9BBF9;
    --nav-link-color: #725AC1;
    --nav-hover-link-color: #9BF3F0 ;
    --nav-hover-background-color: #F8F8F8;

}

.hero {
    position: relative;
    background-image: url('images/rafting33_600.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    width: auto;
    color: #D9BBF9;

}

.hero h1, .hero article {
    position: absolute;
    
}

.hero h1 {
    top: 20%;
    left: 5%;
    font-size: 3rem;
}

.hero article {
    top: 50%;
    left: 5%;
    background-color: #9BF3F0;
    padding: 1rem;
}
.hero article img {
    float: right;
    width: 100px;
    height: auto;
    margin-left: 1rem;
  }
.hero img {
    display: block;
    width: 100%;
    height: auto
}
  
footer {
    text-align: center;
}


.sociallinks a {
    text-decoration: none;
    position: relative;
}



  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #725AC1;
  }
  
  